---
Language: Cpp
ColumnLimit: 80
SpacesInParentheses: false
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
UseTab: Always
IndentWidth: 8  
TabWidth: 8
LineEnding: LF
InsertNewlineAtEOF: true
...

